.list-style {
    background-color: aquamarine;
}

.bottom-card {
    background-color: mediumslateblue;
    
}

.title-style {
    border-style: solid;
    border-width: medium;
    background-color: aquamarine;
    
}

.marginal-space {
    margin: auto;
}

.centered {
    text-align: center;
    /* text-shadow: cadetblue 10px 15px 15px; */
    background-color: aquamarine;
    
}

.site-header {
    font-family: 'Roboto Mono', monospace;
    /* text-shadow: whitesmoke 10px 10px 15px; */
    background-color: mediumslateblue;
    border-style: solid;
    border-top: black;
    border-left: black;
    border-right: black;
    border-width: medium;
    
}

.shadow-card {
    
    box-shadow: black 5px 5px 10px;
    
}